In [1]:
## 1. Write a program to reverse a string.
x = input("Enter String: ")
x[::-1]

Enter String:  34354

'45343'

In [ ]:
#2. Check if a string is a palindrome.

x = input("Enter String: ")
if x[::-1]==x:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter String:  2w2w2

Palindrome

In [ ]:
#3. Convert a string to uppercase.
x = input("Enter String: ")
x.upper()

Enter String:  cdcd

'CDCD'

In [ ]:
# 4. Convert a string to lowercase.
x = input("Enter String: ")
x.lower()

Enter String:  ABSD

'absd'

In [ ]:
# 5. Count the number of vowels in a string.
vowels = 'aeiou'
x = input("Enter String: ")
x = x.replace(" ", "")
count = sum(1 for i in x if i in vowels)
print("Number of Vowels: ", count)

Enter String:  ewf fedeev e

Number of Vowels:  5

In [ ]:
# 6. Count the number of consonants in a string.

vowels = 'aeiou'
x = input("Enter String: ")
x = x.replace(" ", "")
count = sum(1 for i in x if i.lower() not in vowels)
print("Number of Consonants: ", count)

Enter String:  qwdsaddfd

Number of Consonants:  8

In [ ]:
# 7. Remove all whitespaces from a string.
x ="This is my name"
x.replace(" ", "")

'Thisismyname'

In [ ]:
# 8. Find the length of a string without using the `len()` function.
x ="This is my name"
x = x.replace(" ", "")
print(sum(1 for i in x))

12

In [ ]:
# 9. Check if a string contains a specific word.

x ="This is my name"
if 'i' in x:
    print('yes')

yes

In [ ]:
# 10. Replace a word in a string with another word.

x ="This is my name"
x.replace('This', 'hello')

'hello is my name'

In [ ]:
# 11. Count the occurrences of a word in a string.
x ="This is my name"
sum(1 for i in x if i=='m')

2

In [ ]:
# 12. Find the first occurrence of a word in a string.
x ="This is my name. name is this"
index = x.find('name')
if index!=-1:
    print('found at index:', index)
else:
    print('not found')

found at index: 11

In [ ]:
#13. Find the last occurrence of a word in a string.

x ="This is my name. name is this"
x.rfind('name')

17

In [ ]:
#14. Split a string into a list of words.
x ="This is my name"
x.split()

['This', 'is', 'my', 'name']

In [ ]:
#15. Join a list of words into a string.
lx = ['This', 'is', 'my', 'name']
' '.join(lx)

'This is my name'

In [ ]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
x ="This is my name"
x.replace(' ' , '_')

'This_is_my_name'

In [ ]:
#17. Check if a string starts with a specific word or phrase.
x ="This is my name"
x.startswith('T')

True

In [ ]:
# 18. Check if a string ends with a specific word or phrase.
x ="This is my name"
x.endswith('name')

True

In [ ]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
x = 'hello world'
x.title()

'Hello World'

In [ ]:
# 20. Find the longest word in a string.
x ="amazon is my name"
max(x.split(), key=len)

'amazon'

In [ ]:
# 21. Find the shortest word in a string.
min(x.split(), key=len)

'is'

In [ ]:
# 22. Reverse the order of words in a string.
x ="amazon is my name"
' '.join(reversed(x.split()))

'name my is amazon'

In [ ]:
# 23. Check if a string is alphanumeric.
x.isalnum()

False

In [ ]:
#24. Extract all digits from a string.
x = "abc123def456gh789"
''.join(i for i in x if i.isnumeric())

'123456789'

In [ ]:
#25. Extract all alphabets from a string.
x = "abc123def456gh789"
''.join(i for i in x if i.isalpha())

'abcdefgh'

In [ ]:
#26. Count the number of uppercase letters in a string.
x = 'AhsdGFHswqsdFHDwD'
sum(1 for i in x if i.isupper())

8

In [ ]:
#27. Count the number of lowercase letters in a string.
x = 'AhsdGFHswqsdFHDwD'
sum(1 for i in x if i.islower())

9

In [ ]:
#28. Swap the case of each character in a string.
x ="amazon is my name and also AhsdGFHswqsdFHDwD"

x.swapcase()

'AMAZON IS MY NAME AND ALSO aHSDgfhSWQSDfhdWd'

In [ ]:
# 29. Remove a specific word from a string.
x ="amazon is my name and also AhsdGFHswqsdFHDwD"
' '.join(i for i in x.split() if i!='name')

'amazon is my and also AhsdGFHswqsdFHDwD'

In [ ]:
#30. Check if a string is a valid email address.
import re
x = 'pw@gmail.com'

pattern = r'[\w\.-]+@[\w\.-]+\.\w'

if re.match(pattern, x):
    print('Valid mail')
else:
    print('not a valid mail')

Valid mail

In [ ]:
# 31. Extract the username from an email address string.

x = 'pw@gmail.com'

pattern = r'([\w\.-]+)@[\w\.-]+\.\w'
match =  re.match(pattern, x)

if match:
    print(x.split('@')[0])
else:
    print('not a valid mail')

pw

In [ ]:
#32. Extract the domain name from an email address string.
x = 'pw.cse@gmail.com'

pattern = r'[\w\.-]+@([\w\.-]+)\.\w'
match =  re.match(pattern, x)

if match:
    print(x.split('.')[2])
else:
    print('not a valid mail')

com

In [ ]:
# 33. Replace multiple spaces in a string with a single space.
x = "Hello    my name is    xyz"
' '.join(x.split())

'Hello my name is xyz'

In [ ]:
 # 34. Check if a string is a valid URL.
from urllib.parse import urlparse
url = 'https://www.example.com'
parse_url = urlparse(url)
result = all([parse_url.scheme, parse_url.netloc])
if result:
    print('valid url')
else:
    print('invalid url')

valid url

In [ ]:
# 35. Extract the protocol (http or https) from a URL string.
url1 = 'https://www.example.com'
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

print(urlparse(url1).scheme)
print( urlparse(url2).scheme)
print(urlparse(url3).scheme)

https
http
ftp

In [ ]:
#36. Find the frequency of each character in a string.
frequncy = {}
x = 'amazon is my name and also'
x = ''.join(x.split(' '))
for i in x:
    if i in frequncy:
        frequncy[i]+=1
    else:
        frequncy[i]=1
for i, j in frequncy.items():
    print('Character:', i , 'Frequency:', j)

Character: a Frequency: 5
Character: m Frequency: 3
Character: z Frequency: 1
Character: o Frequency: 2
Character: n Frequency: 3
Character: i Frequency: 1
Character: s Frequency: 2
Character: y Frequency: 1
Character: e Frequency: 1
Character: d Frequency: 1
Character: l Frequency: 1

In [ ]:
# 37. Remove all punctuation from a string.
import string
x = "Hello, there! How's the josh?"
translator = str.maketrans("", "", string.punctuation)
print(x.translate(translator))

Hello there Hows the josh

In [ ]:
# 38. Check if a string contains only digits.
x = "pwskills123"
y = '233432423'
print(x.isdigit())
print(y.isdigit())

False
True

In [ ]:
# 39. Check if a string contains only alphabets.
x = "pwskills123"
print(x.isalpha())

False

In [ ]:
# 40. Convert a string to a list of characters.
x = "pwskills123"
list(x)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', '1', '2', '3']

In [ ]:
# 41. Check if two strings are anagrams.
string1 = "listen"
string2 = "silent"

if sorted(string1.lower()) == sorted(string2.lower()):
    print(f"YES, {string1} and {string2} are anagrams")
else :
    print(f"NO, {string1} and {string2} are not anagrams")

YES, listen and silent are anagrams

In [ ]:
#42. Encode a string using a Caesar cipher.
text = 'Hello, world!'
shift = 3
encoded_text = ""

for i in text:
    if i.isalpha():
        encoded_char = chr((ord(i) + shift - ord('a'))%26 + ord('a') )
    else:
        encoded_char = i
    encoded_text+=encoded_char
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [ ]:
# 43. Decode a Caesar cipher encoded string.
text = 'khoor, zruog!'
shift = 3
decoded_text = ""

for i in text:
    if i.isalpha():
        decoded_char = chr((ord(i) - shift - ord('a')) % 26 + ord('a'))
    else:
        decoded_char = i
    decoded_text += decoded_char

print("decoded text:", decoded_text)

decoded text: hello, world!

In [ ]:
#44. Find the most frequent word in a string.
x = "Hello, there! How's the josh?"
d = {}
for i in x:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
        
print("The most frequent word is :", max(d, key=d.get))

The most frequent word is : e

In [ ]:
#45. Find all unique words in a string.
x = "Hello, there! How's the josh?"
set(x.split())

{'Hello,', "How's", 'josh?', 'the', 'there!'}

In [ ]:
# 46. Count the number of syllables in a string.

import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)

word = "syllable"

syllables = count_syllables(word)

print(f"'{word}' has {syllables} syllables.")

'syllable' has 3 syllables.

In [ ]:
# 47. Check if a string contains any special characters.
pattern = re.compile(r'[^A-Za-z0-9\s]')
x= "Hello, @world!"
if pattern.search(x):
    print('String contains special character')
else:
    print('String does not contains special character')

String contains special character

In [ ]:
# 48. Remove the nth word from a string.
x = "This is an example sentence for test."
x = x.split()
def remove_word_at(n):
    if n>=0 and n<=len(x):
        x.pop(n-1)
        return ' '.join(x)
    else:
        return "index not found"
    
result = remove_word_at(4)
print(result)

This is an sentence for test.

In [ ]:
#49. Insert a word at the nth position in a string.
x = "This is an sentence for test."
x_list = x.split()
def insert_word_at(word, n):
    if n>=0 and n<=len(x_list):
        x_list.insert(n-1, word)
        return ' '.join(x_list)
    else:
        return "index out of range"
    
result = insert_word_at("example", 3)
print(result)

This is example an sentence for test.

In [ ]:
# 50. Convert a CSV string to a list of lists.
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

x = csv_data.split('\n')
for i in x:
    print(i.split())

['Name,', 'Age,', 'Country']
['John,', '25,', 'USA']
['Alice,', '30,', 'Canada']
['Bob,', '22,', 'UK']

# List Based Practice Problem :

In [ ]:
#1. Create a list with integers from 1 to 10.
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 2. Find the length of a list without using the `len()` function.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(1 for i in l)

10

In [ ]:
# 3. Append an element to the end of a list.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.append(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#4. Insert an element at a specific index in a list.
l.insert(2, 'inserted')
l

[1, 2, 'inserted', 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# 5. Remove an element from a list by its value.
l.remove('inserted')
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# 6. Remove an element from a list by its index.
l = [1, 2, 'inserted', 3, 4, 5, 6, 7, 8, 9, 10, 11]
l.pop(2)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#7. Check if an element exists in a list.
if 4 in l:
    print('yes')
else:
    print('no')

yes

In [ ]:
# 8. Find the index of the first occurrence of an element in a list.
l.index(6)

5

In [ ]:
# 9. Count the occurrences of an element in a list.
l =[10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
l.count(40)

3

In [ ]:
# 10. Reverse the order of elements in a list.
l[::-1]

[50, 40, 40, 30, 30, 50, 40, 30, 20, 10]

In [ ]:
#11. Sort a list in ascending order.
sorted(l)

[10, 20, 30, 30, 30, 40, 40, 40, 50, 50]

In [ ]:
# 12. Sort a list in descending order.
sorted(l, reverse=True)

[50, 50, 40, 40, 40, 30, 30, 30, 20, 10]

In [ ]:
# 13. Create a list of even numbers from 1 to 20.
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 14. Create a list of odd numbers from 1 to 20.
[i for i in range(1, 21) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 15. Find the sum of all elements in a list.
l = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum(l)

100

In [ ]:
# 16. Find the maximum value in a list.
max(l)

19

In [ ]:
# 17. Find the minimum value in a list.
min(l)

1

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10.
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 19. Create a list of random numbers.
import random

[random.randint(1, 20) for _ in range(5)]

[3, 1, 13, 9, 16]

In [ ]:
# 20. Remove duplicates from a list.
l =[10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
sorted(list(set(l)))

[10, 20, 30, 40, 50]

In [ ]:
# 21. Find the common elements between two lists.
l1 =[10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
l2 = [30, 40, 50, 60, 70]
[i for i in set(l1) if i in l2]

[40, 50, 30]

In [ ]:
#22. Find the difference between two lists.

l1 =[10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
l2 = [30, 40, 50, 60, 70]
[i for i in set(l1) if i not in l2]

[10, 20]

In [ ]:
# 23. Merge two lists.
l1 =[10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
l2 = [30, 40, 50, 60, 70]
sorted(list(set(l1+l2)))

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# 24. Multiply all elements in a list by 2.
l = [10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
[i*2 for i in l]

[20, 40, 60, 80, 100, 60, 60, 80, 80, 100]

In [ ]:
# 25. Filter out all even numbers from a list.
l = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[i for i in l if i%2!=0]

[1, 9, 25, 49, 81]

In [ ]:
# 26. Convert a list of strings to a list of integers.
ls = ["10", "20", "30", "40", "50"]
[int(i) for i in ls]

[10, 20, 30, 40, 50]

In [ ]:
# 27. Convert a list of integers to a list of strings.
li = [10, 20, 30, 40, 50]
[str(i) for i in li]

['10', '20', '30', '40', '50']

In [ ]:
# 28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattend_list = []
for i in nested_list:
    if type(i)==list:
        for j in i:
            flattend_list.append(j)
            
print(flattend_list)

# using list comprehensions

[i for j in nested_list if isinstance(j, list) for i in j]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers.
a = 0
b = 1
l = []
l.append(a)
for i in range(9):
    a,b = b,a +b
    l.append(a)
print("First 10 Fibonacci numbers: ", l)

First 10 Fibonacci numbers:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# 30. Check if a list is sorted.
l = [0,2,1, 1, 2, 3, 5, 8, 13, 21, 34]

def is_sorted(l):
    for i in range(1,len(l)):
        if l[i]<l[i-1]:
            return "Not sorted"
    return "sorted"

is_sorted(l)

'Not sorted'

In [ ]:
# 31. Rotate a list to the left by `n` positions.
l = [0, 1, 2, 3, 5, 8, 13, 21, 34]

def rotate_left(n):
    return l[n:] + l[:n]
rotate_left(4)

[5, 8, 13, 21, 34, 0, 1, 2, 3]

In [ ]:
# 32. Rotate a list to the right by `n` positions.
l = [0, 1, 2, 3, 5, 8, 13, 21, 34]

def rotate_right(n):
    return l[-n:] + l[:-n] # same as l[len(l)-n:] + l[:len(l)-n] 
rotate_right(4)

[8, 13, 21, 34, 0, 1, 2, 3, 5]

In [ ]:
# 33. Create a list of prime numbers up to 50.

n = 7

def is_prime(n):
    if n<2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n%i==0:
            return False
            break
    else:
        return True
         
[i for i in range(2,50) if is_prime(i)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# 34. Split a list into chunks of size `n`.

n = 4
l = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
new_list = []

for i in range(0, len(l), n):
    new_list.append(l[i : i + n])
    
new_list

[[2, 3, 5, 7], [11, 13, 17, 19], [23, 29, 31, 37], [41, 43, 47]]

In [ ]:
# 35. Find the second largest number in a list.
l = [12,3,4,45,5,6,4,10]

l.sort(reverse = True)
l[1]

12

In [ ]:
# 36. Replace every element in a list with its square.
l = [2, 4, 6, 8, 10]

[i**2 for i in l]

[4, 16, 36, 64, 100]

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
l =  ['apple', 'banana', 'cherry', 'date', 'elderberry']
d = {}

for i,j in enumerate(l):
    d[j] = i
d

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [ ]:
# 38. Shuffle the elements of a list randomly.
import random

random.shuffle(l)
l

['banana', 'elderberry', 'cherry', 'date', 'apple']

In [ ]:
# 39. Create a list of the first 10 factorial numbers.
def fact(n):
    sum = 1
    for i in range(1,n +1):
        sum = sum * i 
    return sum

[fact(i) for i in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
# 40. Check if two lists have at least one element in common.
l1 = [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

l2 = [2, 4, 6, 8, 10]

if len(set(l1).intersection(l2)) > 0:
    print("The two lists have at least one element in common" )
else:
    print("The two lists have no element in common")

The two lists have at least one element in common

In [ ]:
# 41. Remove all elements from a list.
l = [2, 4, 6, 8, 10]

l.clear()
l

[]

In [ ]:
# 42. Replace negative numbers in a list with 0.

l = [10, -5, 20, -15, 30, -25]
for i in l:
    if i<0:
        l[l.index(i)]= 0 
l

[10, 0, 20, 0, 30, 0]

In [ ]:
# 43. Convert a string into a list of words.
s =  "Hello, this is a sample sentence."
s.split()

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [ ]:
# 44. Convert a list of words into a string.
ls = ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']
" ".join(ls)

'Hello, this is a sample sentence.'

In [ ]:
# 45. Create a list of the first `n` powers of 2.

n = 5
[2**i for i in range(n)]

[1, 2, 4, 8, 16]

In [ ]:
# 46. Find the longest string in a list of strings.
ls = ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

max(ls, key=len)

'sentence.'

In [ ]:
# 47. Find the shortest string in a list of strings.
ls = ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

min(ls, key=len)

'a'

In [ ]:
# 48. Create a list of the first `n` triangular numbers.

def triangular_num(n):
    return n*(n+1)//2

n = 6

[triangular_num(i) for i in range(1, n+1)]

[1, 3, 6, 10, 15, 21]

In [ ]:
# 49. Check if a list contains another list as a subsequence.
l1 = [1, 2, 3, 4, 5, 6]
l2 = [2, 4, 6]

l2_index = 0
for i in l1:
    if i == l2[l2_index]:
        l2_index+=1
        if l2_index == len(l2):
            print('Subsequence Found !!')
            break

Subsequence Found !!

In [ ]:
# 50. Swap two elements in a list by their indices.

l1 =[10, 20, 30, 40, 50, 30, 30, 40, 40, 50]
l2 = [30, 40, 50, 60, 70]


for i,j in enumerate(l1):
    if i<len(l2):
        l1[i], l2[i] = l2[i], j
        
l2

[10, 20, 30, 40, 50]

# Tuple Based Practice Problem

In [ ]:
#1. Create a tuple with integers from 1 to 5.
tuple(i for i in range(1,6))

(1, 2, 3, 4, 5)

In [ ]:
# 2. Access the third element of a tuple.
t = (1,2,3,4,5,6)
t[2]

3

In [ ]:
# 3. Find the length of a tuple without using the `len()` function.
t = (1,2,3,4,5,6)
length = 0
for i in t:
    length +=1
length

6

In [ ]:
# 4. Count the occurrences of an element in a tuple.
t = (10, 20, 30, 20, 40, 50, 20)

def count_occurance(n, t):
    count = 0
    for i in t:
        if i ==n:
            count+=1
    return count

count_occurance(20, t)

3

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple.
t = (20,10, 20, 30, 20, 40, 50, 20)

def find_1st_occurance(n, t):
    if n in t:
        for i,j in enumerate(t):
            if j ==n:
                return i
    else:
        return f"{n} not found in tuple"
    

find_1st_occurance(21, t)

'21 not found in tuple'

In [ ]:
# 6. Check if an element exists in a tuple.
t = (20,10, 20, 30, 20, 40, 50, 20)

def is_exist(n,t):
    if n in t:
        return f"yes the element {n} exists in tuple"
    else: 
        return f"No, the element {n} does not exists in tuple"
    
is_exist(21,t)

'No, the element 21 does not exists in tuple'

In [ ]:
# 7. Convert a tuple to a list.

t = (20, 10, 20, 30, 20, 40, 50, 20)
list(t)

[20, 10, 20, 30, 20, 40, 50, 20]

In [ ]:
# 9. Unpack the elements of a tuple into variables.

my_tuple = (1, 2, 3)

a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10.

tuple(i for i in range(1, 11) if i%2==0)

(2, 4, 6, 8, 10)

In [ ]:
# 11. Create a tuple of odd numbers from 1 to 10.
tuple(i for i in range(1,11) if i%2!=0)

(1, 3, 5, 7, 9)

In [ ]:
# 12. Concatenate two tuples.
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
t1 + t2

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [ ]:
# 13. Repeat a tuple three times.
t = (1, 3, 5, 7, 9)
t*3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [ ]:
# 14. Check if a tuple is empty.

t = ()
if t:
    print("Not emplty")
else:
    print("empty")

empty

In [ ]:
# 15. Create a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
nested_tuple

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [ ]:
# 16. Access the first element of a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
nested_tuple[0]

(1, 2, 3)

In [ ]:
# 17. Create a tuple with a single element.
tuple_1 = (2)
tuple_1

2

In [ ]:
# 18. Compare two tuples.
t1 = (1, 3, 5, 7, 9, 1, 9)
t2 = (1, 3, 5, 7, 9, 1, 1)

print(t1==t2)
print(t1 >t2)

False
True

In [ ]:
# 19. Delete a tuple.
t = (1, 3, 5, 7, 9, 1, 9)
del t
print(t)

NameError: name 't' is not defined

In [ ]:
# 20. Slice a tuple.
t = (1, 3, 5, 7, 9, 1, 9) 
t[:3]

(1, 3, 5)

In [ ]:
# 21. Find the maximum value in a tuple.
t = (1, 3, 5, 7, 9, 1, 9) 
max(t)

9

In [ ]:
# 22. Find the minimum value in a tuple.
t = (1, 3, 5, 7, 9, 1, 9) 
min(t)

1

In [ ]:
# 23. Convert a string to a tuple of characters.
s = "Hello, World!"
tuple(s)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [ ]:
# 24. Convert a tuple of characters to a string.
ts  = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
" ".join(ts)

'H e l l o   W o r l d !'

In [ ]:
# 25. Create a tuple from multiple data types.
t = (10, "hello", 3.14, True)
t

(10, 'hello', 3.14, True)

In [ ]:
# 26. Check if two tuples are identical.
t1 = (1,2,3,4)
t2 = (2,3,4,1)

False

In [ ]:
#27. Sort the elements of a tuple.
t =  (2,3,4,1)
tuple(sorted(t))

(1, 2, 3, 4)

In [ ]:
# 28. Convert a tuple of integers to a tuple of strings.
t =  (2,3,4,1)
tuple(str(i) for i in t)

('2', '3', '4', '1')

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers.

t1 = ('10', '20', '30', '40', '50')
tuple(int(i) for i in t1)

(10, 20, 30, 40, 50)

In [ ]:
# 30. Merge two tuples.
t1 = ('10', '20', '30', '40', '50')
t =  (2,3,4,1)
t1 + t

('10', '20', '30', '40', '50', 2, 3, 4, 1)

In [45]:
# 31. Flatten a nested tuple.

nt = ((1, 2), (3, 4, 5), (6, (7, 8)))


def flatten_tuple(t):
    ft = [] 
    for i in t:
        if isinstance(i, tuple):
            ft.extend(flatten_tuple(i))
        else:
            ft.append(i)
    return ft

tuple(flatten_tuple(nt))

(1, 2, 3, 4, 5, 6, 7, 8)

In [47]:
# 32. Create a tuple of the first 5 prime numbers.

def is_prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n%i==0:
            return False
    return True

tuple(i for i in range(1, 100) if is_prime(i))[:5]

(2, 3, 5, 7, 11)

In [49]:
# 33. Check if a tuple is a palindrome.
pt =  (1, 2, 3, 2, 1)
if pt == pt[::-1]:
    print("Yes, it is a palindrome")
else :
    print("Not a palindrome")

Yes, it is a palindrome

In [51]:
# 34. Create a tuple of squares of numbers from 1 to 5.
tuple(i**2 for i in range(1,6))

(1, 4, 9, 16, 25)

In [53]:
# 35. Filter out all even numbers from a tuple.
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple(i for i in t if i%2!=0)

(1, 3, 5, 7, 9)

In [54]:
# 36. Multiply all elements in a tuple by 2.
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple(i*2 for i in t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [62]:
# 37. Create a tuple of random numbers.
import random

tuple(random.randint(1,50)for i in range(10) )

(20, 17, 48, 5, 36, 33, 45, 18, 11, 6)

In [65]:
# 38. Check if a tuple is sorted.
t = (1,2,3,4,20, 17, 48, 5, 36, 33, 45, 18, 11, 6)

def is_sorted(t):
    for i in range(len(t) - 1):
        if t[i]>t[i+1]:
            return False
    return True
is_sorted(t)

False

In [67]:
#39. Rotate a tuple to the left by `n` positions.
t = (1, 2, 3, 4, 5)

def rotate_left(t,n):
    return t[n:] + t[:n]
rotate_left(t,2)

(3, 4, 5, 1, 2)

In [71]:
# 40. Rotate a tuple to the right by `n` positions.
t = (1, 2, 3, 4, 5)
# (4,5,1,2,3) for n=2

def rotate_right(t,n):
    return t[n+1:] + t[:n + 1]  # [3:] + [:3] == [4,5] + [1,2,3] 
rotate_right(t,2)

(4, 5, 1, 2, 3)

In [80]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def fib_nums(n):
    a=0
    b=1
    print(a)
    for i in range(2, n+1):
        a,b = b, b +a
        print(a)
fib_nums(5)

0
1
1
2
3

In [3]:
 # 42. Create a tuple from user input.
t = []

while True:
    user_input = input("Enter a value (enter 'x' to stop): ")
    
    if user_input.lower() == 'x':
        break
    
    # Assuming the user enters individual values separated by commas
    try:
        input_value = eval(user_input)
        t.append(input_value)
    except Exception as e:
        print(f"Error: {e}. Please enter a valid value.")

result_tuple = tuple(t)
print("The tuple is:" ,result_tuple)

Enter a value (enter 'x' to stop):  3
Enter a value (enter 'x' to stop):  4
Enter a value (enter 'x' to stop):  5
Enter a value (enter 'x' to stop):  5
Enter a value (enter 'x' to stop):  x

The tuple is: (3, 4, 5, 5)

In [13]:
# 43. Swap two elements in a tuple.
t = (1,2,3,4,20, 17, 48, 5, 36, 33, 45, 18, 11, 6)

def swap(t, index_1, index_2):
    t = list(t)
    t[index_1], t[index_2] = t[index_2], t[index_1]
    return tuple(t)
    
swap(t,0,1)

(2, 1, 3, 4, 20, 17, 48, 5, 36, 33, 45, 18, 11, 6)

In [2]:
# 44. Reverse the elements of a tuple.
t = (2, 1, 3, 4, 20, 17, 48, 5, 36, 33, 45, 18, 11, 6)
t[::-1]

(6, 11, 18, 45, 33, 36, 5, 48, 17, 20, 4, 3, 1, 2)

In [3]:
# 45. Create a tuple of the first `n` powers of 2.

def power_of_2(n):
    return tuple(2**i for i in range(1,n+1))
power_of_2(5)

(2, 4, 8, 16, 32)

In [8]:
# 46. Find the longest string in a tuple of strings.
s =  ("apple", "banana", "grape", "kiwi", "watermelon")
max(s, key=len)

'watermelon'

In [9]:
# 47. Find the shortest string in a tuple of strings.
s =  ("apple", "banana", "grape", "kiwi", "watermelon")
min(s, key=len)

'kiwi'

In [15]:
#48. Create a tuple of the first `n` triangular numbers.

def triangular_nums(n):
    t = []
    for i in range(1, n+1):
        t.append(i*(i+1)//2)
    return tuple(t)
triangular_nums(5)

(1, 3, 6, 10, 15)

In [17]:

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

print(contains_subsequence(main_tuple, sub_tuple))

True

In [19]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

def gen(n):
    return tuple(i%2 for i in range(n))

gen(12)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem

In [20]:
# 1. Create a set with integers from 1 to 5.
set(i for i in range(1,6))

{1, 2, 3, 4, 5}

In [23]:
# 2. Add an element to a set.
s = {1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [25]:
# 3. Remove an element from a set.
s = {1, 2, 3, 4, 5, 6}
s.remove(6)
s

{1, 2, 3, 4, 5}

In [31]:
#4. Check if an element exists in a set.
def check_element(n):
    if n in s:
        return "Yes"
    else:
        return "No"
    
check_element(2)

'Yes'

In [32]:
# 5. Find the length of a set without using the `len()` function.
s = {1, 2, 3, 4, 5, 6}

def find_len(s):
    length = 0
    for _ in s:
        length+=1
    return length
find_len(s)

6

In [34]:
# 6. Clear all elements from a set.
s.clear()
s

set()

In [36]:
# 7. Create a set of even numbers from 1 to 10.
set(i for i in range(1,11) if i%2==0)

{2, 4, 6, 8, 10}

In [37]:
# 8. Create a set of odd numbers from 1 to 10.
set(i for i in range(1,11) if i%2!=0)

{1, 3, 5, 7, 9}

In [38]:
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
# 10. Find the intersection of two sets.
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9}
s1.intersection(s2)

set()

In [40]:
# 11. Find the difference between two sets.
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9}
s1.difference(s2)

{2, 4, 6, 8, 10}

In [41]:
# 12. Check if a set is a subset of another set.
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9}
s1.issubset(s2)

False

In [42]:
# 13. Check if a set is a superset of another set.
s1 = {2, 4, 6, 8, 10}
s2 = {1, 3, 5, 7, 9}

s1.issuperset(s2)

False

In [1]:
# 14. Create a set from a list.

l = [1,2,3,4,5,4,5,6]
set(l)

{1, 2, 3, 4, 5, 6}

In [2]:
# 15. Convert a set to a list.
s = {1, 2, 3, 4, 5, 6}
list(s)

[1, 2, 3, 4, 5, 6]

In [5]:
# 16. Remove a random element from a set.
import random
s = {1, 2, 3, 4, 5, 6,7,8,9,10}
s.remove(random.randint(1,10))
s

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [10]:
#17. Pop an element from a set.
s = {1, 2, 3, 4, 5, 6,7,8,9,10}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
# 18. Check if two sets have no elements in common.
s = {1,2,3,4,5}
s1 = {3,5,6,7,89,9,10}
com_elements = s.intersection(s1)

if not com_elements:
    print("No element in commom")
else:
    print("The common elements are:", com_elements )

The common elements are: {3, 5}

In [19]:
# 19. Find the symmetric difference between two sets.
s = {1,2,3,4,5}
s1 = {3,5,6,7,89,9,10}

print("The symmetric difference between the two sets:", s^s1)

The symmetric difference between the two sets: {1, 2, 4, 6, 7, 9, 10, 89}

In [22]:
# 20. Update a set with elements from another set.
s = {1,2,3,4,5}
s1 = {3,5,6,7,89,9,10}
s.update(s1)
s

{1, 2, 3, 4, 5, 6, 7, 9, 10, 89}

In [28]:
# 21. Create a set of the first 5 prime numbers.

def gen_prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**0.5) +1 ):
        if n%i==0:
            return False
    return True
set(list((i for i in range(1,50) if gen_prime(i)))[:5])

{2, 3, 5, 7, 11}

In [30]:
# 22. Check if two sets are identical.
s = {1,2,3,4,5}
s1 = {3,5,6,7,89,9,10}

def is_identical(s1, s2):
    if s1==s2:
        return "Yes, the sets are identical"
    else:
        return "No, the sets are not identical"
    
is_identical(s,s1)

'No, the sets are not identical'

In [32]:
# 23. Create a frozen set.
s = {1,2,3,4,5,6,7}
frozen_set = frozenset(s)
frozen_set

frozenset({1, 2, 3, 4, 5, 6, 7})

In [36]:
# 24. Check if a set is disjoint with another set.
s = {99,98}
s1 = {3,5,6,7,89,9,10}
s.isdisjoint(s1)

True

In [37]:
# 25. Create a set of squares of numbers from 1 to 5.
set (i**2 for i in range(1,6))

{1, 4, 9, 16, 25}

In [38]:
s = {1,2,3,4,5,6,7, 3,5,6,7,89,9,10}
set(i for i in s if i%2!=0)

{1, 3, 5, 7, 9, 89}

In [39]:
# 27. Multiply all elements in a set by 2.
set(i*2 for i in s)

{2, 4, 6, 8, 10, 12, 14, 18, 20, 178}

In [40]:
# 28. Create a set of random numbers.

set(random.randint(1, 100) for _ in range(15))

{8, 26, 37, 38, 44, 51, 54, 56, 64, 67, 74, 79, 96}

In [43]:
# 29. Check if a set is empty.
s = {8, 26, 37, 38, 44, 51, 54, 56, 64, 67, 74, 79, 96}
if not s:
    print("Yes, the set is empty")
else:
    print("No, the set is not empty")

No, the set is not empty

In [51]:
# 30. Create a nested set (hint: use frozenset).
f1 = frozenset(s)
f2 = frozenset(s1)
nested_set = {f1,f2}
nested_set

{frozenset({3, 5, 6, 7, 9, 10, 89}),
 frozenset({8, 26, 37, 38, 44, 51, 54, 56, 64, 67, 74, 79, 96})}

In [54]:
# 31. Remove an element from a set using the discard method.
s = {8, 26, 37, 38, 44, 51, 54, 56, 64, 67, 74, 79, 96}
s.discard(8)
s

{26, 37, 38, 44, 51, 54, 56, 64, 67, 74, 79, 96}

In [56]:
# 32. Compare two sets.
s = {99,98}
s1 = {3,5,6,7,89,9,10}
if s>s1:
    print("yes")
else:
    print("No")

No

In [57]:
# 33. Create a set from a string.

x="pwskills"
set(x)

{'i', 'k', 'l', 'p', 's', 'w'}

In [58]:
# 34. Convert a set of strings to a set of integers.
string_set = {"123", "456", "789"}

set(int(i) for i in string_set)

{123, 456, 789}

In [59]:
# 35. Convert a set of integers to a set of strings.
integer_set = {123, 456, 789}
set(str(i) for i in integer_set)

{'123', '456', '789'}

In [60]:
# 36. Create a set from a tuple.
t = (1, 2, 3, 2, 4, 5, 1)
set(t)

{1, 2, 3, 4, 5}

In [1]:
# 37. Convert a set to a tuple.
s = {3,5,6,7,89,9,10}
tuple(s)

(89, 3, 5, 6, 7, 9, 10)

In [5]:
# 38. Find the maximum value in a set.
s = {3,5,6,7,89,9,10}
max(s, key=lambda x:len(str(x)))

89

In [7]:
# 39. Find the minimum value in a set.
s = {3,5,6,7,89,9,10}
min(s, key=lambda x:len(str(x)))

3

In [3]:
## 40. Create a set from user input.
s = set()

while True:
    user_input = input("Enter a number, press 'x' to exit: ")
    
    if user_input.lower()=='x':
        ans = input("Are you sure you want to exit? (y/n): ")
        if ans.lower()=='y':
            break
        elif ans.lower()=='n':
            pass
        else:
            print("Invalid input")
            break
    
        
    
    s.add(user_input)
print("Final set:", s)

Enter a number, press 'x' to exit:  3
Enter a number, press 'x' to exit:  4
Enter a number, press 'x' to exit:  5
Enter a number, press 'x' to exit:  2
Enter a number, press 'x' to exit:  f
Enter a number, press 'x' to exit:  g
Enter a number, press 'x' to exit:  5
Enter a number, press 'x' to exit:  x
Are you sure you want to exit? (y/n):  n
Enter a number, press 'x' to exit:  rr
Enter a number, press 'x' to exit:  e
Enter a number, press 'x' to exit:  w
Enter a number, press 'x' to exit:  4
Enter a number, press 'x' to exit:  5
Enter a number, press 'x' to exit:  7
Enter a number, press 'x' to exit:  8
Enter a number, press 'x' to exit:  x
Are you sure you want to exit? (y/n):  y

Final set: {'5', 'x', 'g', 'f', '2', 'rr', '7', '8', '4', 'e', 'w', '3'}

In [7]:
# 41. Check if the intersection of two sets is empty.
s = {1,2,3,4,5,5,6,6,43,7}
s1 = {21,2,3,4,55,332,4,12,45,3,5}

if not s.intersection(s1):
    print("Intersection is empty")
else:
    print("Intersection is not empty")

Intersection is not empty

In [19]:
# 42. Create a set of the first 5 Fibonacci numbers

def gen_fib(n):
    a,b = 0,1
    s = set()
    for _ in range(n):
        s.add(a)
        a,b = b, a+b
    return s
gen_fib(5)

{0, 1, 2, 3}

In [21]:
# 43. Remove duplicates from a list using sets.
l =  [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
list(set(l))

[2, 4, 6, 8, 10, 12, 14]

In [24]:
# 44. Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2,9}

if set1==set2:
    print('The sets have the same element')
else:
    print("The sets do not have the same element")

The sets do not have the same element

In [26]:
# 45. Create a set of the first `n` powers of 2.

def gen_power_of_2(n):
    return set(2**i for i in range(1,n+1))

gen_power_of_2(8)

{2, 4, 8, 16, 32, 64, 128, 256}

In [27]:
# 46. Find the common elements between a set and a list.

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

my_set.intersection(set(my_list))

{7, 9, 12}

In [6]:
# 47. Create a set of the first `n` triangular numbers.

def gen_set_of_triangular_numbers(n):
    return f"Set of triangular numbers: {set(i*(i+1)//2 for i in range(1, n+1))}"

gen_set_of_triangular_numbers(6)

'Set of triangular numbers: {1, 3, 6, 10, 15, 21}'

In [10]:
# 48. Check if a set contains another set as a subset.

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2,2,5,6}

print(set1.issubset(set2))
print(set2.issubset(set1))

True
False

In [12]:
# 49. Create a set of alternating 1s and 0s of length `n`.
def gen_binary(n):
    return set(i%2 for i in range(1, n))

gen_binary(10)

{0, 1}

In [13]:
# 50. Merge multiple sets into one.
s1 = {1, 2, 3, 2, 1}
s2 = {3, 1, 2,2,5,6}
s3 = {7, 9, 12}
s4 = {1, 3, 6, 10, 15, 21}

s1.union(s2,s3,s4)

{1, 2, 3, 5, 6, 7, 9, 10, 12, 15, 21}